@media (max-width: 768px) {
  #hero .mobile-hero-section {
    position: relative;
    width: 100%;
    height: 100%;
  }
  #hero .mobile-img img {
    position: relative;
    width: 90%;
    padding-top: 40px;
    z-index: 0;
  }
  #hero .mobile-info {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30%;
    background: #585858e2;

    clip-path: polygon(0% 0%, 100% 30%, 100% 100%, 0% 100%);
  }
  #hero .mobile-info .icon {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 25px;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 30px;
  }
  #hero .mobile-info .mobile-content {
    position: absolute;
    left: 30px;
    top: 40px;
  }
  #hero .mobile-info .mobile-content h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 20px;

    color: #fff;
  }
  #hero .mobile-info .mobile-content h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 35px;

    color: #fff;
  }
  #hero .mobile-info .mobile-content p {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 12px;

    color: #fff;
  }
  #hero nav {
    position: relative;
  }
  #hero .modile-menu {
    position: absolute;
    border-top: 1px solid #fff;
    width: 100%;
    opacity: 0;

    z-index: 1;
    text-align: center;
    transition: 0.5s ease;
    visibility: hidden;
  }
  #hero .modile-menu.active {
    visibility: visible;
    opacity: 1;
  }
  /* button */
  nav .btn-one {
    display: block;
  }
  nav .btn-one.active {
    display: none;
  }
  nav .btn-two {
    display: none;
  }
  nav .btn-two.active {
    display: block;
  }
  /* button end */
  #hero .modile-menu.active .modile-menu-ul li {
    padding: 20px;
    opacity: 1;
  }
  #hero .modile-menu .modile-menu-ul li {
    background-color: #201c19;
    transition: 0.5s ease;
    padding: 0;
    opacity: 0;
  }
  #hero .modile-menu .modile-menu-ul li:hover {
    background-color: #fff;
  }
  #hero .modile-menu .modile-menu-ul li:hover a {
    color: #000;
  }
  #hero .modile-menu .modile-menu-ul li.activess:hover {
    background-color: #fff;
  }
  #hero .modile-menu .modile-menu-ul li.activess:hover a {
    color: #000;
  }
  #hero .modile-menu .modile-menu-ul li a {
    padding: 20px;
    /* background: #fff; */
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: #fff;
  }
  .shot_into .container {
    background-image: url(/assets/image/Logo\ ITB.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* ========================== About ======================== */
  #about {
    padding: 50px 0;
  }
  #about .content h2 {
    font-size: 20px;
    width: 250px;
    padding: 18px;
  }
  #about .content p {
    font-weight: 300;
    font-size: 12px;
    padding: 0 10px;
  }
}
